*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

.preloader {

    height: 100VH;
    width: 100%;
    background-color: black; 
    display:flex;
    justify-content: center;
    align-items: center; 

}

.preloader-gif{

    width: 100%; 

}

.debug{

    border: 10px solid red;

}

body{

    margin: 0;
    background-color: rgb(0, 0, 0);
    overflow: hidden;
    height: 100VH;
    color: aliceblue;
    font-family: 'Rubik', sans-serif;

}

.body-container {

    width: 100%;
    margin:  auto;
    text-align: center;

}

.navigation{
    
    width: 100%;
    background-color: rgb(84, 107, 240);
    height: 3rem;
    color: aliceblue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    cursor: pointer;
}

.hidden {

    display: none !important;

}

.header{

    position: relative;
    

}

.fade-out{

    transition: all 2s ease;
    opacity: 0;
    z-index: -999;
    
}

.hide {

    opacity: 0;
    z-index: -999;
}

.container {

    display: flex;
    justify-content: center;
    align-items: center;

    width: 65%;
    margin: 50px auto;
    height: 85vh;
    
}

.flex-container{

    display: flex;
    flex-direction: column;
    justify-content: space-around;

    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

   


}

.intro {

    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;

}

.character-selection{
    
    
    width: 100%;
    
}

.selection-background{

    
    height: 85VH;

}

.character{

    transition: all 0.5s ease;
    cursor: pointer;

}

.flex{

    display: flex;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;

    width: 100%;

}

.flex img{

    width: 35%;
    margin: 0 auto;

}

.selected {

    transform: scale(1.1);

}

.selectors{

    display: flex;
    justify-content: space-around;
    width: 100%;

}

.selector {


    width: 100px;
    animation: bounce 2s ease-in-out 2s infinite normal forwards;

}

.selector img{

    width: 100%;
    
}

@keyframes bounce {
	0% {
		animation-timing-function: ease-out;
		transform: scale(1);
		transform-origin: center center;
	}

	10% {
		animation-timing-function: ease-in;
		transform: scale(0.91);
	}

	17% {
		animation-timing-function: ease-out;
		transform: scale(0.98);
	}

	33% {
		animation-timing-function: ease-in;
		transform: scale(0.87);
	}

	45% {
		animation-timing-function: ease-out;
		transform: scale(1);
	}
}



#start {

    width: 100%;

    cursor: pointer;

}

.fight-loading{

    
    transform: translateY(50%);
    opacity: 0;
    transition: all 3s ease;

}

.npc , .player{

    transition: all 1.5s ease-in;

}


.fight-background{

    position: relative;
    margin-top: 100px;
    

}

.fight-background-img{

    opacity: 0;
    transition: all 3s ease-out;

}

.npc-container{

    position: absolute;
    top: 0;
    left: -50%;

    transition: all 0.5s ease;

}

.player-container{

    position: absolute;
    top: 0;
    right: -50%;

    transition: all 0.5s ease;
    

}

.effect-sprites{

    position: absolute;
    top: 0;
    right: 0;

    transition: all 0.5s ease;


}

.npc-info{

    position: absolute;
    top: 85px;
    right: 0;

}

.player-info{

    position: absolute;
    bottom: 300px;
    left: 0;

}

.menu{

    position: absolute;
    bottom: 10%;
    right: 4%;
    

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 20px;
    border: 2px solid whitesmoke;
    cursor: pointer;    

    width: 50%;
    height: 150px;
   
   
   justify-content: space-around;
   flex-direction: column;

}


.drawnCards{

    width: 100%;
    margin: 5PX;

}

.submit-selection{

    margin-top: 20px;
    display: block;
    text-transform: capitalize;

}

.drawnCards{

    display: flex;
    justify-content: space-around;

}

.card{

    margin: 5px;

}

.selected-card{

    transform: scale(1.1);
    transform: translateY(10px);
    transition: all 0.5s ease-out;

}

.npc-health-container{

    position: absolute;
    top: 65px;
    right: -25px;

    
    width: 650px;



}

#npc-health {

    height: 15px;
    width: 100%;

    border-radius: 5px;
    background-color: aliceblue;

    transition: all ease-out;

}

.player-health-container {

    position: absolute;
    bottom: 345px;
    left: -45px;

    height: 15px;
    width: 650px;
  

}

#player-health {

    height: 15px;
    width: 100%;

    border-radius: 5px;
    background-color: aliceblue;
    transition: all 0.5 ease-out;

}




@media only screen and (max-width: 1180px) {


    *{

        /* border: 1px solid red; */

    }

    body{

        height: auto;
        width: 100%;

    }

    .console-start{

        margin-top: 20px;

    }

    .intro{

        width: 100%;

    }

    .intro img{

        width: 100%;
        
    }

    .container {

        width: 100%;
        margin: 50px auto !important;
        height: 100VH;
        align-items: flex-start;

    }

    .flex-container{

        top: 12%;

    }

    .main{

        width: 100%;
        position: absolute;
        top: -10px;


    }

    .selection-background{


        width: 100%;
        height: auto;
        margin-top: 50px;

    }

    .selector img {

        width: 50%;

    }
    .selectors {

        bottom: 35%

    }

    .fight-loading img{

        width: 100%;

    }

    .fight-background{

        /* height: 45VH; */
        height: auto;
        width: 100%;

    }

    .fight-background-img{
        width: 100%;
    }

    .npc-container{

        right: 50%;


    }

    .npc{
        width: 100%;
    }

    .npc-health-container{

        top: 6%;
        right: -2%;
        width: 49%;
        z-index: -999;
    }

    .npc-info{

        top: 5%;
        right: -1%;
        display: flex;
        justify-content: space-between;
        color: black;

    }

    .player-container{

        width: 100%;
        position: absolute;


    }
    .player{

        width: 100%;

    }

    .player-info{

        display: flex;
        width: 50%;
        bottom: 28.5%;

        color: black;

    }

    .player-health-container{

        width: 49%;
        left: -4%;
        bottom: 29%;
        z-index: -999;

    }

    .npc img{
        width: 100%;
    }

    .player img{
        width: 100%;
    }

    .menu{

        bottom: -46%;
        right: 0;

       width: 100%;
       height: 150PX;
       display: flex;
       justify-content: space-around;
       flex-direction: column;


    }

    .drawnCards{

        width: 100%;
        margin: 5PX;

    }

    .submit-selection{

        margin: 5px;
        display: block;

    }


  }