*{
    box-sizing: border-box;
}

body{

    margin: 0;
    background-color: rgb(37, 36, 41);
    overflow: hidden;

}

.navigation{
    
    width: 100%;
    background-color: rgb(84, 107, 240);
    height: 3rem;
    color: aliceblue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.hidden {

    display: none;

}

.body-container {

    width: 65%;
    margin: 0 auto;
    text-align: center;
}

.container {

    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    margin: 0 auto;
    height: auto;

}

.character-selection{

    background-image: url('../IMG/selection_background.gif');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    height: 1080px;
    width: 100%;

    position: relative;
}

.selector {

    position: absolute;
    bottom: 15%;
    width: 100px;
    animation: bounce 2s ease-in-out 2s infinite normal forwards;

}

.selector img{

    width: 100%;
    
}

@keyframes bounce {
	0% {
		animation-timing-function: ease-out;
		transform: scale(1);
		transform-origin: center center;
	}

	10% {
		animation-timing-function: ease-in;
		transform: scale(0.91);
	}

	17% {
		animation-timing-function: ease-out;
		transform: scale(0.98);
	}

	33% {
		animation-timing-function: ease-in;
		transform: scale(0.87);
	}

	45% {
		animation-timing-function: ease-out;
		transform: scale(1);
	}
}

.flex{

    display: flex;
    justify-content: space-around;
    align-items: center;

    overflow: hidden;

}

.flex img{

    width: 35%;

}

#start {

    width: 100%;

    cursor: pointer;

}



@media only screen and (max-width: 600px) {
    .body-container{

        width: 100%;

    }
  }
