*{
    box-sizing: border-box;
}

body{

    margin: 0;
    background-color: rgb(37, 36, 41);
    overflow: hidden;

}

.body-container {

    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.navigation{
    
    width: 100%;
    background-color: rgb(84, 107, 240);
    height: 3rem;
    color: aliceblue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.hidden {

    display: none;

}

.container {

    display: flex;
    justify-content: center;
    align-items: center;

    width: 65%;
    margin: 0 auto;
    
}

.character-selection{
    
    position: relative;

    width: 100%;
    
}

.flex{

    display: flex;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 70%;

}

.flex img{

    width: 35%;

}

.selectors{

    display: flex;
    justify-content: space-around;
    position: absolute;
    bottom: 15%;
    width: 70%;

}

.selector {


    width: 100px;
    animation: bounce 2s ease-in-out 2s infinite normal forwards;

}

.selector img{

    width: 100%;
    
}

@keyframes bounce {
	0% {
		animation-timing-function: ease-out;
		transform: scale(1);
		transform-origin: center center;
	}

	10% {
		animation-timing-function: ease-in;
		transform: scale(0.91);
	}

	17% {
		animation-timing-function: ease-out;
		transform: scale(0.98);
	}

	33% {
		animation-timing-function: ease-in;
		transform: scale(0.87);
	}

	45% {
		animation-timing-function: ease-out;
		transform: scale(1);
	}
}



#start {

    width: 100%;

    cursor: pointer;

}



@media only screen and (max-width: 600px) {
    .body-container{

        width: 100%;

    }
  }